body{
    background-color: hsl(210, 36%, 96%);
}

.title {
    /* margin-right: auto;
    margin-left: auto; */
    text-align: center;
    color: hsl(209, 61%, 16%);
    /* margin-bottom: 4rem; */
    font-family: sans-serif;
}
h2 {
    text-align: center;
    color: hsl(209, 61%, 16%); 
    font-family: sans-serif;

}

.underline {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    height: 0.25rem;
    background-color: hsl(205, 78%, 60%);
}

p {
    color: hsl(209, 61%, 16%);
    line-height: 1.5rem;
    /* will be added to the media querry */
    /* width: 550px; 
    margin: 1rem auto; */
}